<section id="ch3">
    <main>
        <div class="-dis-f -al-it-c -jus-c-c -h-100vh">
            <div class="nav -brd -dis-f -jus-c-sb -al-it-c -p-20 -bx-s-b -brd-c-gray-1 -b-c-white -pos-r -fnt-s-small">

                <div class="{{rfd8ew==1?'active':''}} item -p-3 -bx-s-b purple">
                    <div class="-dis-f -bx-s-b -al-it-c -cur-point -transition"
                         ng-click="rfd8ew=1" ng-init="rfd8ew=1">
                        <i class="-fnt-icon-home -fnt-s-bigger -px-5"></i>
                        <span class="txt -transition -ws-nwrp -pl-5 -fnt-s-small">خانه</span>
                    </div>
                </div>
                <div class="{{rfd8ew==2?'active':''}} item -p-3 -bx-s-b red">
                    <div class="-dis-f -bx-s-b -al-it-c -cur-point -transition"
                         ng-click="rfd8ew=2">
                        <i class="-fnt-icon-heart -fnt-s-big -px-5"></i>
                        <span class="txt -transition -ws-nwrp -pl-5 -fnt-s-small">لایک ها</span>
                    </div>
                </div>
                <div class="{{rfd8ew==3?'active':''}} item -p-3 -bx-s-b yellow">
                    <div class="-dis-f -bx-s-b -al-it-c -cur-point -transition"
                         ng-click="rfd8ew=3">
                        <i class="-fnt-icon-search -fnt-s-big -px-5"></i>
                        <span class="txt -transition -ws-nwrp -pl-5 -fnt-s-small">جست و جو</span>
                    </div>
                </div>
                <div class="{{rfd8ew==4?'active':''}} item -p-3 -bx-s-b blue">
                    <div class="-dis-f -bx-s-b -al-it-c -cur-point -transition"
                         ng-click="rfd8ew=4">
                        <i class="-fnt-icon-user -fnt-s-bigger -px-5"></i>
                        <span class="txt -transition -ws-nwrp -pl-5 -fnt-s-small">پروفایل</span>
                    </div>
                </div>

            </div>
        </div>
    </main>
</section>