body{
    background: var(--gray-2);
}
#ch5 .container{
    max-width: 600px;
    max-height: 400px;
}
#ch5 .dropdown{
    top: 0;
    left: 0;
    min-width: 250px;
    max-height: 150px;
    overflow-y: auto;

    min-height: 150px;
}
#ch5 .fake{
    height: 20px;
    background: var(--gray-1);
}
#ch5 .btn{
    height: 30px;
    width: 30px;
    line-height: 30px;
}
