<section id="ch2">
    <main>
        <div class="-dis-f -al-it-c -jus-c-c -h-100vh">
            <div class="nav -brd -dis-f -p-20 -bx-s-b -brd-c-gray-1 -b-c-white -pos-r">

                <div class="item -cur-point -dis-f -al-it-c -jus-c-c -c-gray-4 -px-10 {{sdj5kh==1?'active':''}}"
                     ng-init="sdj5kh=1"
                     ng-click="sdj5kh=1">
                    <div class="-px-5 -fnt-s-bigger -transition {{sdj5kh==1?'-c-twitter':''}}">
                        <i class="-fnt-icon-home"></i>
                    </div>
                    <div class="txt -ws-nwrp -fnt-s-smaller -ovf-h -c-twitter">
                        <p class="">خانه</p>
                    </div>
                </div>
                <div class="item -cur-point -dis-f -al-it-c -jus-c-c -c-gray-4 -px-10 {{sdj5kh==2?'active':''}}"
                     ng-click="sdj5kh=2">
                    <div class="-px-5 -fnt-s-bigger -transition {{sdj5kh==2?'-c-twitter':''}}">
                        <i class="-fnt-icon-address-book-o"></i>
                    </div>
                    <div class="txt -ws-nwrp -fnt-s-smaller -ovf-h -c-twitter">
                        <p class="">مخاطب ها</p>
                    </div>
                </div>
                <div class="item -cur-point -dis-f -al-it-c -jus-c-c -c-gray-4 -px-10 {{sdj5kh==3?'active':''}}"
                     ng-click="sdj5kh=3">
                    <div class="-px-5 -fnt-s-bigger -transition {{sdj5kh==3?'-c-twitter':''}}">
                        <i class="-fnt-icon-comment-5"></i>
                    </div>
                    <div class="txt -ws-nwrp -fnt-s-smaller -ovf-h -c-twitter">
                        <p class="">پیام ها</p>
                    </div>
                </div>
                <div class="item -cur-point -dis-f -al-it-c -jus-c-c -c-gray-4 -px-10 {{sdj5kh==4?'active':''}}"
                     ng-click="sdj5kh=4">
                    <div class="-px-5 -fnt-s-bigger -transition {{sdj5kh==4?'-c-twitter':''}}">
                        <i class="-fnt-icon-phone-2"></i>
                    </div>
                    <div class="txt -ws-nwrp -fnt-s-smaller -ovf-h -c-twitter">
                        <p class="">تماس ها</p>
                    </div>
                </div>
                <div class="item -cur-point -dis-f -al-it-c -jus-c-c -c-gray-4 -px-10 {{sdj5kh==5?'active':''}}"
                     ng-click="sdj5kh=5">
                    <div class="-px-5 -fnt-s-bigger -transition {{sdj5kh==5?'-c-twitter':''}}">
                        <i class="-fnt-icon-cog-5"></i>
                    </div>
                    <div class="txt -ws-nwrp -fnt-s-smaller -ovf-h -c-twitter">
                        <p class="">تنظیمات</p>
                    </div>
                </div>

            </div>
        </div>
    </main>
</section>