<section id="ch2">
    <main>
        <div class="-dis-f -al-it-c -jus-c-c -h-100vh">
            <div class="nav -brd -bxsh-1 -dis-f -p-20 -bx-s-b -brd-c-gray-1 -brd-r-10">

                <div class="item -cur-point -dis-f -al-it-c -jus-c-c -c-gray-4 -px-10 {{sdj5kh==1?'active':''}}"
                ng-init="sdj5kh=1">
                    <div class="-px-5 -fnt-s-bigger {{sdj5kh==1?'-c-teal-3':''}}" ng-click="sdj5kh=1">
                        <i class="-fnt-icon-home"></i>
                    </div>
                    <div class="txt -ws-nwrp -fnt-s-smaller -ovf-h -c-teal-3">
                        <p class="">خانه</p>
                    </div>
                </div>
                <div class="item -cur-point -dis-f -al-it-c -jus-c-c -c-gray-4 -px-10 {{sdj5kh==2?'active':''}}">
                    <div class="-px-5 -fnt-s-bigger {{sdj5kh==2?'-c-teal-3':''}}" ng-click="sdj5kh=2">
                        <i class="-fnt-icon-picture"></i>
                    </div>
                    <div class="txt -ws-nwrp -fnt-s-smaller -ovf-h -c-teal-3">
                        <p class="">گالری</p>
                    </div>
                </div>
                <div class="item -cur-point -dis-f -al-it-c -jus-c-c -c-gray-4 -px-10 {{sdj5kh==3?'active':''}}">
                    <div class="-px-5 -fnt-s-bigger {{sdj5kh==3?'-c-teal-3':''}}" ng-click="sdj5kh=3">
                        <i class="-fnt-icon-info"></i>
                    </div>
                    <div class="txt -ws-nwrp -fnt-s-smaller -ovf-h -c-teal-3">
                        <p class="">درباره ما</p>
                    </div>
                </div>
                <div class="item -cur-point -dis-f -al-it-c -jus-c-c -c-gray-4 -px-10 {{sdj5kh==4?'active':''}}">
                    <div class="-px-5 -fnt-s-bigger {{sdj5kh==4?'-c-teal-3':''}}" ng-click="sdj5kh=4">
                        <i class="-fnt-icon-call"></i>
                    </div>
                    <div class="txt -ws-nwrp -fnt-s-smaller -ovf-h -c-teal-3">
                        <p class="">تماس با ما</p>
                    </div>
                </div>
                <div class="item -cur-point -dis-f -al-it-c -jus-c-c -c-gray-4 -px-10 {{sdj5kh==5?'active':''}}">
                    <div class="-px-5 -fnt-s-bigger {{sdj5kh==5?'-c-teal-3':''}}" ng-click="sdj5kh=5">
                        <i class="-fnt-icon-cog"></i>
                    </div>
                    <div class="txt -ws-nwrp -fnt-s-smaller -ovf-h -c-teal-3">
                        <p class="">تنظیمات</p>
                    </div>
                </div>

            </div>
        </div>
    </main>
</section>