body{
    background: linear-gradient(to left, #0072ff, #00c6ff);
}
#ch2 .nav{
    width: 340px;
    border-radius: 10px 10px 35px 35px;
    padding-bottom: 30px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.04);
}
#ch2 .nav:after{
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 35%;
    background: var(--gray-2);
    border-radius: 10px;
}
#ch2 .item{
    height: 40px;
    width: 0%;
    min-width: 28px;
    transition:width .3s linear;
}
#ch2 .item .txt {
    transform-origin: right center;
    transform: scaleX(0);
    transition: transform 0.4s;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--twitter);
}

#ch2 .item .txt > p {
    transform: translateY(15px);
    opacity: 0;
    transition: all .8s;
}
#ch2 .item.active{
    width: 100% !important;
}
#ch2 .item.active .txt {
    transform: scaleX(1);
}

#ch2 .item.active .txt > p {
    opacity: 1;
    transform: translateY(0);
}